target/classes/fhir-r4-implementationguide-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <http:listener-config name="fhir-r4-implementationguide-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="fhir-r4-implementationguide-api-config" api="resource::org.mule.examples:fhir-r4-implementationguide-api:1.0.0:raml:zip:fhir-r4-implementationguide-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="fhir-r4-implementationguide-api-main">
        <http:listener config-ref="fhir-r4-implementationguide-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="fhir-r4-implementationguide-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="fhir-r4-implementationguide-api-console">
        <http:listener config-ref="fhir-r4-implementationguide-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="fhir-r4-implementationguide-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\ImplementationGuide:fhir-r4-implementationguide-api-config">
        <logger level="INFO" message="put:\ImplementationGuide:fhir-r4-implementationguide-api-config" />
    </flow>
    <flow name="put:\ImplementationGuide\(id):application\fhir+json:fhir-r4-implementationguide-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="put:\ImplementationGuide\(id):application\fhir+json:fhir-r4-implementationguide-api-config" />
    </flow>
    <flow name="put:\ImplementationGuide\(id):application\fhir+xml:fhir-r4-implementationguide-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="put:\ImplementationGuide\(id):application\fhir+xml:fhir-r4-implementationguide-api-config" />
    </flow>
    <flow name="delete:\ImplementationGuide:fhir-r4-implementationguide-api-config">
        <logger level="INFO" message="delete:\ImplementationGuide:fhir-r4-implementationguide-api-config" />
    </flow>
    <flow name="delete:\ImplementationGuide\(id):fhir-r4-implementationguide-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="delete:\ImplementationGuide\(id):fhir-r4-implementationguide-api-config" />
    </flow>
    <flow name="get:\ImplementationGuide:fhir-r4-implementationguide-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
"implementationguide.ImplementationGuideEntryBundle" as String {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\ImplementationGuide\(id)\_history:fhir-r4-implementationguide-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="get:\ImplementationGuide\(id)\_history:fhir-r4-implementationguide-api-config" />
    </flow>
    <flow name="get:\ImplementationGuide\_history:fhir-r4-implementationguide-api-config">
        <logger level="INFO" message="get:\ImplementationGuide\_history:fhir-r4-implementationguide-api-config" />
    </flow>
    <flow name="get:\ImplementationGuide\_search:fhir-r4-implementationguide-api-config">
        <logger level="INFO" message="get:\ImplementationGuide\_search:fhir-r4-implementationguide-api-config" />
    </flow>
    <flow name="get:\ImplementationGuide\(id):fhir-r4-implementationguide-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  resourceType: "ImplementationGuide",
  id: "example",
  text: {
    status: "generated",
    div: "<div xmlns=\"http://www.w3.org/1999/xhtml\"><p><b>Generated Narrative with Details</b></p><p><b>id</b>: example</p><p><b>url</b>: <b>http://hl7.org/fhir/us/daf</b></p><p><b>version</b>: 0</p><p><b>name</b>: Data Access Framework (DAF)</p><p><b>status</b>: draft</p><p><b>experimental</b>: false</p><p><b>date</b>: 01/01/2015</p><p><b>publisher</b>: ONC / HL7 Joint project</p><p><b>contact</b>: , </p><p><b>description</b>: The Data Access Framework (DAF) Initiative leverages the HL7 FHIR standards to standardize access to Meaningful Use Stage 2 structured information both within the organization and from external organizations</p><p><b>jurisdiction</b>: United States of America <span>(Details : {urn:iso:std:iso:3166 code 'US' = 'United States of America)</span></p><p><b>copyright</b>: Published by ONC under the standard FHIR license (CC0)</p><p><b>packageId</b>: hl7.fhir.us.daf</p><p><b>license</b>: CC0-1.0</p><p><b>fhirVersion</b>: 4.0.1</p><h3>DependsOns</h3><table><tr><td>-</td><td><b>Uri</b></td></tr><tr><td>*</td><td><a>http://hl7.org/fhir/ImplementationGuide/uscore</a></td></tr></table><h3>Globals</h3><table><tr><td>-</td><td><b>Type</b></td><td><b>Profile</b></td></tr><tr><td>*</td><td>Patient</td><td><a>http://hl7.org/fhir/us/core/StructureDefinition/patient</a></td></tr></table><blockquote><p><b>definition</b></p><h3>Groupings</h3><table><tr><td>-</td><td><b>Name</b></td><td><b>Description</b></td></tr><tr><td>*</td><td>test</td><td>Base package (not broken up into multiple packages)</td></tr></table><h3>Resources</h3><table><tr><td>-</td><td><b>Reference</b></td><td><b>Name</b></td><td><b>Description</b></td><td><b>Example[x]</b></td></tr><tr><td>*</td><td><a>Patient/test</a></td><td>Test Example</td><td>A test example to show how an implementation guide works</td><td><a>http://hl7.org/fhir/us/core/StructureDefinition/patient</a></td></tr></table><blockquote><p><b>page</b></p><p><b>name</b>: <a>patient-example.html</a></p><p><b>title</b>: Example Patient Page</p><p><b>generation</b>: html</p><h3>Pages</h3><table><tr><td>-</td></tr><tr><td>*</td></tr></table></blockquote><h3>Parameters</h3><table><tr><td>-</td><td><b>Code</b></td><td><b>Value</b></td></tr><tr><td>*</td><td>apply</td><td>version</td></tr></table></blockquote><blockquote><p><b>manifest</b></p><p><b>rendering</b>: <a>http://hl7.org/fhir/us/daf</a></p><h3>Resources</h3><table><tr><td>-</td><td><b>Reference</b></td><td><b>Example[x]</b></td><td><b>RelativePath</b></td></tr><tr><td>*</td><td><a>Patient/test</a></td><td><a>http://hl7.org/fhir/us/core/StructureDefinition/patient</a></td><td><a>patient-test.html#patient-test</a></td></tr></table><h3>Pages</h3><table><tr><td>-</td><td><b>Name</b></td><td><b>Title</b></td><td><b>Anchor</b></td></tr><tr><td>*</td><td>patient-test.html</td><td>Test Patient Example</td><td>patient-test</td></tr></table><p><b>image</b>: fhir.png</p><p><b>other</b>: fhir.css</p></blockquote></div>"
  },
  url: "http://hl7.org/fhir/us/daf",
  version: "0",
  name: "Data Access Framework (DAF)",
  status: "draft",
  experimental: false,
  date: "2015-01-01",
  publisher: "ONC / HL7 Joint project",
  contact: [
    {
      name: "ONC",
      telecom: [
        {
          system: "url",
          value: "http://www.healthit.gov"
        }
      ]
    }, 
    {
      name: "HL7",
      telecom: [
        {
          system: "url",
          value: "http://hl7.org/fhir"
        }
      ]
    }
  ],
  description: "The Data Access Framework (DAF) Initiative leverages the HL7 FHIR standards to standardize access to Meaningful Use Stage 2 structured information both within the organization and from external organizations",
  jurisdiction: [
    {
      coding: [
        {
          system: "urn:iso:std:iso:3166",
          code: "US"
        }
      ]
    }
  ],
  copyright: "Published by ONC under the standard FHIR license (CC0)",
  packageId: "hl7.fhir.us.daf",
  license: "CC0-1.0",
  fhirVersion: [
    "4.0.1"
  ],
  dependsOn: [
    {
      uri: "http://hl7.org/fhir/ImplementationGuide/uscore"
    }
  ],
  global: [
    {
      "type": "Patient",
      profile: "http://hl7.org/fhir/us/core/StructureDefinition/patient"
    }
  ],
  definition: {
    grouping: [
      {
        name: "test",
        description: "Base package (not broken up into multiple packages)"
      }
    ],
    resource: [
      {
        reference: {
          reference: "Patient/test"
        },
        name: "Test Example",
        description: "A test example to show how an implementation guide works",
        exampleCanonical: "http://hl7.org/fhir/us/core/StructureDefinition/patient"
      }
    ],
    page: {
      nameUrl: "patient-example.html",
      title: "Example Patient Page",
      generation: "html",
      page: [
        {
          nameUrl: "list.html",
          title: "Value Set Page",
          generation: "html"
        }
      ]
    },
    parameter: [
      {
        code: "apply",
        value: "version"
      }
    ]
  },
  manifest: {
    rendering: "http://hl7.org/fhir/us/daf",
    resource: [
      {
        reference: {
          reference: "Patient/test"
        },
        exampleCanonical: "http://hl7.org/fhir/us/core/StructureDefinition/patient",
        relativePath: "patient-test.html#patient-test"
      }
    ],
    page: [
      {
        name: "patient-test.html",
        title: "Test Patient Example",
        anchor: [
          "patient-test", 
          "tx", 
          "uml"
        ]
      }
    ],
    image: [
      "fhir.png"
    ],
    other: [
      "fhir.css"
    ]
  }
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\ImplementationGuide\(id)\_history\(vid):fhir-r4-implementationguide-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
                <ee:set-variable variableName="vid">attributes.uriParams.'vid'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="get:\ImplementationGuide\(id)\_history\(vid):fhir-r4-implementationguide-api-config" />
    </flow>
    <flow name="post:\ImplementationGuide:application\fhir+json:fhir-r4-implementationguide-api-config">
        <ee:transform doc:name="Define request input variable" doc:id="6839bcce-e23b-4a12-8cef-3055acf7c6d6">
			<ee:message />
			<ee:variables>
				<ee:set-variable variableName="inputVar" ><![CDATA[%dw 2.0
output text/plain
---
write(payload, 'application/json')]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="validationSub_Flow" doc:id="efbe64ef-3362-4144-9893-8ceb7efae6f0" name="validationSub_Flow" />
    </flow>
    <flow name="post:\ImplementationGuide:application\fhir+xml:fhir-r4-implementationguide-api-config">
        <ee:transform doc:name="Define request input variable" doc:id="aba956f2-690c-409f-b93a-1a2841f7b942" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="inputVar" ><![CDATA[%dw 2.0
output text/plain
---
write(payload, 'application/xml')]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="validationSub_Flow" doc:id="ca3a6314-c9d3-4dab-bfb5-1b78ac066875" name="validationSub_Flow"/>
    </flow>
    <flow name="post:\ImplementationGuide\_search:application\x-www-form-urlencoded:fhir-r4-implementationguide-api-config">
        <logger level="INFO" message="post:\ImplementationGuide\_search:application\x-www-form-urlencoded:fhir-r4-implementationguide-api-config" />
    </flow>
</mule>
